<div class='form-group'>
  <%= f.label :name, '件名' %>
  <%= f.text_field :name, class: 'form-control', required: true %>
</div>
<div class='form-group'>
  <%= f.label :description, '説明' %>
  <%= f.text_area :description, class: 'form-control', rows: 4 %>
</div>
<div class='form-group'>
  <%= f.label :starts_at, '開始日時' %>
  <%= render 'datetime_picker', f: f, attr_name: :starts_at %>
</div>
<div class='form-group'>
  <%= f.label :ends_at, '終了日時' %>
  <%= render 'datetime_picker', f: f, attr_name: :ends_at %>
</div>
<div class='form-group'>
  <%= f.label :participants, '参加者' %>
  <%#= collection_check_boxes(:participants, :ids, User.all, :id, :full_name,
    checked: @plan_item.participations.pluck(:user_id)) do |b| %>
  <label>
    <input type="checkbox" value="<%= current_user.id %>"
    name="plan_item[participant_ids][]" disabled checked>
    <%= current_user.full_name %>
  </label>
  <%= f.collection_check_boxes(:participant_ids,
    User.where.not(id: current_user.id), :id, :full_name) do |b| %>
    <%= b.label { b.check_box + b.text } %>
  <% end %>
</div>
